<div>
   <div class="title">Battleships</div>
   <br>
   <p>
   <pre>
      Battleships may be spawned using 'b', but only if the user is positioned over water. The ship
      can be moved in the traditional (and entirely unrealistic) method of WASD. However, when in
      control of a battleship, the user is actually given control of one of the four turrets
      on the ship (each turret is its own ControllableObject). The turret may be rotated using 'q'
      and 'e', the guns elevated with 'r' and 't', and fired with spacebar (two bombs are fired).
      The user can switch between turrets by pressing 'c'. Pressing 'x' will still exit the entire
      ship.
   </pre>
   </p>
   <br>
   Taking aim and elevating the guns:
   <img src="img/battleship_aiming.png"/>
   <br><br>
   Firing the guns:
   <img src="img/battleship_firing.png"/>
   <br><br>
   The bombs hit (three explosions, one for each bomb, and one for the ship):
   <img src="img/battleship_hit.png"/>
   <br><br>
   The destroyed battleship:
   <img src="img/battleship_destroyed.png"/>
</div>