<div>
  <div class="title">Introduction</div>
  <br>
  <p>
    <pre>
      The goal of this project was to generate realistic terrain. The user is 
      able to fly a plane around, and can control battleships and have a
      small game, complete with basic collision detection (plane crashes on contact, bullet
      explodes on contact). Perlin noise was used to compute the heights
      of points for the terrain.

      The purpose behind this project was to expand my knowledge of noise functions,
      terrain coloration, and particle effects. Given more time, I would have liked to improve the
      collision detection.
      
      As a side note: time in this world can be stopped and restarted with 'o' or can be sped up and
      slowed down with '=' (instead of '+') and '-';
    </pre>
  </p>
</div>