<div>
   <div class="title">Planes</div>
   <br>
   <p>
   <pre>
      Planes can be spawned in at the current camera position by pressing 'p'. To change pitch,
      use 'q' and 'e'. To change yaw, use 'a' and 'd', and to control speed use 'w' and 's'. Planes
      can also drop bombs (press spacebar).
   </pre>
   </p>
   <br>
   A view of a plane in flight:
   <img src="img/plane_flying.png"/>
   <br><br>
   And a test of the collision detection. The fire particles are activated on destruction.
   <img src="img/plane_crashed.png"/>
</div>