<div>
   <div class="title">World Objects</div>
   <br>
   <p>
   <pre>
      Having a world and collision detection isn't much fun without a way to explore the terrain
      and test the collisions. For this, I wanted a way to spawn and manipulate arbitrary objects
      in a manner similar to using Unity or another game engine.
      Enter the WorldObject class:
   </pre>
   </p>
   <br>
   <img src="img/world_object_uml.png"/>
   <br><br>
   <pre>
      To control the nearest ControllableObject, just press 'c'. To exit, press 'x'. Further commands
      may be available depending on the type of object.
   </pre>
</div>